{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h2>Genres</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ol class="list-group">
            {% for genre in genres %}
                <li class="list-group-item">
                    <span class="badge">{{genre.count | int}}</span>
                    <a href="/genres/{{genre.name|urlencode}}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>

</div>


{% endblock body %}