{% extends "base.html" %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Hello and welcome to MovieWeb!</h1>
    <p class="lead">Check out the most popular movies and genres, or browse the collection.</p>
</div>

<div class="row">
    <div class="col-md-8 border-right">
        <h1 class="display-4">Top Movies</h1>
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-3 text-center">
                    <a class="text-primary" href="/movies/{{movie.movieid}}" title="{{movie.title}}">
                        {% if movie.poster is not defined %}
                            <img data-src="holder.js/154x231?text={{movie.title}}" alt="{{movie.title}}">
                        {% else %}
                            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                        {% endif %}
                        <h5 class="mt-2">{{movie.title}}</h5>
                    </a>        
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <h1 class="display-4">Top Genres</h1>
            <ol class="list-group">
                {% for genre in genres %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/genres/{{ genre.name | urlencode }}" title="{{ genre.name }}">{{ genre.name }}</a>
                        <span class="badge badge-primary badge-pill">{{genre.count | int}}</span>
                    </li>
                {% endfor %}
            </ol>
    </div>

</div>

{% endblock body %}