{% extends "base.html" %}

{% block body %}

<h1 class="display-4 text-center my-4">Movies</h1>

<div class="row">
    {% for movie in movies %}
        <div class="col-md-3 text-center">
            <a class="text-primary" href="/movies/{{movie.movieid}}" title="{{movie.title}}">
                {% if movie.poster is not defined %}
                    <img data-src="holder.js/154x231?text={{movie.title}}" alt="{{movie.title}}">
                {% else %}
                    <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                {% endif %}
                <h5 class="mt-2">{{movie.title}}</h5>
            </a>        
        </div>
    {% endfor %}
</div>

<nav>
    <ul class="pagination pagination-lg justify-content-center">
        {% if skip == 0 %}
            <li class="page-item disabled">
                <a class="page-link px-4" href="#">&larr; Prev</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="text-info page-link px-4" href="/movies?skip={{ skip - page }}">&larr; Prev</a>
            </li>
        {% endif %}

        {% if skip+10 >= count %}
            <li class="page-item disabled">
                <a class="page-link px-4" href="#">&rarr; Next</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="text-info page-link px-4" href="/movies?skip={{ skip + page }}">Next &rarr;</a>
            </li>
        {% endif %}
    </ul>
</nav>


{% endblock body %}
