{% extends "base.html" %}

{% block body %}

<h1 class="display-4 text-center my-4">{{ movie.title }}</h1>

<div class="row">
    <div class="col-md text-center">
        {% if movie.poster is not defined %}
            <img data-src="holder.js/154x231?text={{movie.title}}" alt="{{movie.title}}">
        {% else %}
            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
        {% endif %}
    </div>
</div>

<div class="row mt-4">
    <div class="col-md text-center">
        <h5>Year <span class="badge badge-info">{{ movie.year }}</span></h5>
        <h5>
            Avg. Rating 
            <span class="badge badge-info">
                {{ movie.total_rating // movie.ratings }}
            </span>
        </h5>
        <h5>Genres</h5>
        <h5>
            {% for g in movie.genres %}
                <a class="btn btn-raised btn-primary mx-3" href="/genres/{{ g | urlencode }}">{{ g }}</a>
            {% endfor %}
        </h5>
    </div>
</div>

<!-- {% if 0 > 0 %}
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <h4>You Might Also Like</h4>
        </div>
    </div>
    {% for row in range(0, page, 5) %}
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            {% for i in range(row, row + step) %}
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/movies/{{movies[i].movieid}}" title="{{movies[i].title}}">
                            {% if movies[i].poster is not defined %}
                                <img data-src="holder.js/100%x180/text:{{movies[i].title}}" alt="{{movies[i].title}}">
                            {% else %}
                                <img src="{{ movies[i].poster }}" alt="{{ movies[i].title }}">
                            {% endif %}
                            <div class="caption">
                                <h5 align="center">{{movies[i].title}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endif %} -->

{% endblock body %}